<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card text-center mt-md-5">
        <div class="card-header bg-primary">Listado de meses</div>
        <div class="card-body">
          <table class="table mt-md-3">
            <thead class="bg-Secondary">
              <tr>
                <th scope="col">Meses</th>
                <th scope="col">Ingresos del mes</th>
                <th scope="col">Egresos del mes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of mouths">
                <td>
                  <button type="button" class="btn btn-outline-primary" routerLink="/listCosts">{{row.mouth}}</button>
                </td>
                <td>{{row.Salary |currency}}</td>
                <td>{{row.valueTotal |currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-dark bg-info" >Meses ingresados</div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="col-md-6 mt-5">
          <div class="card text-center bg-success text-white md-3">
            <h3>Ingresos Total</h3>
            <h4 class="display-5">
              {{salaryTotal() |currency:'COL':'$'}}
            </h4>
          </div>
          <div class="card text-center bg-danger text-white md-3">
            <h3>Egresos Total</h3>
            <h4 class="display-5">
              {{EgresonTotal() |currency:'COL':'$'}}
            </h4>
          </div>
      </div>
    </div>
  </div>
</div>
